
body {
    background: #0a0a0a;
    font-family: sans-serif;
  }
.login-box {
    width: 350px;
    height: 400px;
    background: #fff;
    color: #2417e2;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .login-box img {
    width: 200px;
    margin-top: -0px;
    margin-bottom: 6px;
  }
  .oval-button {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #2b76e6;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    border: none;
    box-shadow: 0 0 10px #888888;
  }
  
  .oval-button:hover {
    background: #222222;
  color: #ffffff;
  }
    
